<div id='UP'>
    <p>Haut de la page</p>    
</div>
<footer>
        <a href ="/home">
            <img class="logo" src="../../assets/Image/logo.png" />
          </a>
<p>Suivez moi sur mes différents réseaux sociaux</p>
<div class=RS>
    <img href="https://www.linkedin.com/in/arnaud-scieur-922186b2/" class="SocialMedia" src="../../assets/Image/linkedin.png" />
    <img href="https://twitter.com/Kaillens" class="SocialMedia" src="../../assets/Image/twitter.png" />
</div>
<p class="Creation">Page Web Créer par Arnaud Scieur, hébergée par Heroku</p>
  </footer>
