footer{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(238, 183, 199);
    padding-top: 25px;
    min-width: 350px;
   }

footer a .logo {
width: 115px;
height: 115px;
   }
   .RS{
   display:flex;
   width: 250px;
   justify-content: space-around;  
   }
   .SocialMedia{
   height:50px;
   width :50px;
   border-radius: 50%;
   margin-bottom: 10px;  
   }

   #UP{
    position: fixed;
    z-index: 25;
    left: 0;
    bottom: 0;
    padding: 12px;
    width: fit-content;
    height: fit-content;
    background-color: rgba(192,192,192,0.5); 
   }

   #UP:hover{
    background-color: rgba(128,128,128,0.8); 
   }

   .Creation{
       font-size: 10px;
       margin-left: auto;
       margin-right: auto;
   }

   a{
       width: fit-content;
       height: fit-content;
       color: #000000;
          text-decoration: none;
   }