

.SectionTitle{
text-align: center;
font-size: 36px;    
}

.line{
    height: 0px;
    border: 1px solid black;
    }

    .ContentText{
text-align: center;
    }

    a {
        color: #000000;
        text-decoration: none;
      }



.MessageSend{
position:fixed;
display:flex;
justify-content: center;
align-items: center;
top:0;
left: 0;
width: 100vw;
height: 100vh;
    background-color: rgba(0,0,0,0.8); 
z-index: 30;
}

.MessageSend p {
padding: 50px;
background-color: rgba(158,158,158,1);  
height: fit-content;
width: fit-content;   
font-size: 36px;
}





#Intro{
    position: relative;
background-image: url("../../assets/Image/PC.jpg");
width: 100%;
height: 400px;
background-size: cover;
min-width: 300px;
}

.menu{
 position: absolute;
 top: 0px;
 left: 0px;   
list-style-type: none;
padding-left: 0px;
margin: 0px;
}

.menu li {
float: left;   
}
.menu li a {
display: inline-block;
padding:10px;   
background-color: rgba(192,192,192,0.5); 
border-width: 1px 1px 1px 0px;
border-color: #000000;
border-style: solid; 
}
.menu li:first-child a{
border-left: 1px solid black;
}

.menu li a:hover {  
    background-color: rgba(128,128,128,0.8); 
    }
#Intro{
    text-align:center;
    min-width: 300px;
}
    #Intro h1 {
        position: absolute;
        font-size: 56px;
width: 100%;
        top: 20%;
        color: white;
        font-style: italic;
    }

#Intro .IntroText{
    display: none;
position: absolute;
top: 30%;
left: 25%;
width: 300px;
font-size: 20px;
color: black;
}

#Intro .Quotes{
    font-style: italic;
}

#Intro .Author {

text-align: right;   
}

      #Presentation .Profil {
        height: 200px;
        width: 200px;
        margin-left: auto;
        margin-right: auto;
        background-image: url("../../assets/Image/photo.jpg");
        border-radius: 50%;
        margin-top: 45px;
        margin-bottom: 45px;
      }

      #Presentation p {
        font-style: italic;  
        text-align: center;
        }   

#Description{
width: 70%;
margin-right:auto;
margin-left: auto;   
min-width: 300px; 
}


#Skills {
    position: relative;
    z-index: 10;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto auto;
    grid-column-gap: 4px;
    grid-row-gap: 0px;
    background-color: black;
    text-align: center;
    font-size: 20px;
    margin-right: auto;
    margin-left: auto;
    min-width: 300px;
  }

  #Skills .line{
    margin-right: auto;
    margin-left: auto;
     width: 60%; 
  }
  
  .SkillList{
    background-color: white;
  }
  .Skilltype{
    background-color: white;
  }
  
  .Skilltype p {
  padding: 2px;
  font-size: 18px;
  font-style: italic;
  padding-right: 10%;
  padding-left: 10%;
  }

  .Skilltype h4 {
  font-size : 26px;
  margin-top: 0; 
  padding-top: 12px; 
  }
  
  .SkillList ul {
      list-style-type: none;
      padding: 0;
  }

  .SkillList li {
    margin-bottom: 5px;
  }
  
  #Skills .Morevisibletext{
  font-weight: bold;
  color: blue; 
  font-size: 24px;  
  }
  .SkillIconeArea{
    background-color: white;
  }
  .SkillIcon{
  height: 75px;
  width: 75px;
  padding-right: auto;
  padding-left: auto;
  padding-top: 25px;   
  background-color: white;
  }

  .SkillOther{
  padding-left: 10%;
  padding-right: 10%;  
  background-color: white;
  }

  #Projects{
    text-align:center;  
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 10px;
    min-width: 300px;
    }
  
    #Projects h3{
      padding-top: 0px;
    }
    
    #Games{
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
        max-width: 1500px;
        margin-right: auto;
        margin-left: auto;
        
    }
    .OneGame{
      width: 400px;
      text-align: center;
    }
    .GameOverlay{
      position: relative; 
      height:250px; 
      border-radius: 10px;
      border: 1px solid black ;
      overflow: hidden;
    }
    .GameImage{
    height:250px;
    width: 100%; 
    
    }
    
    .GameTitle{
      position: absolute;
      bottom: 0px;
        display: block;
        width: 100%;
        background-color: rgba(211, 211, 211, 0.5);
        height: fit-content;
        padding-top: 6%;
        padding-bottom: 6%;
        font-weight: bolder;
        font-size : 24px;
        
    }
  
    .LD{
     font-weight: bold;
     font-size: 20px; 
    }
    
  .line{
  margin-top: 40px;
  width: 100%;
  }

  #Articles{
    min-width: 300px;
    position: relative;
  height:fit-content;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 45px;  
  border-radius: 10px;
  width: 100%;

  }

  
  .ArticleFlexContainer{
      width: 100%;
      margin-right: auto;
      margin-left: auto;
  }
  
  .ArticleCenter{
   width: 100%;  
   text-align: center; 
  }
  
  .ArticleArrow{
      height: 75px;
      width: 50px;
      margin-top: auto;
      margin-bottom: auto;
  }
  
  .TwoArticles{
      display: flex;
      justify-content: space-around;
      width: 100%;
      max-width: 1800px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 40px;
  }
  
  .ArticlePreview{
    border-radius: 15px;
    border: 1px solid black;
    overflow: hidden;
   margin-left: 10px;
    margin-right: 10px;
    width: 500px;
    height: 370px;
    background-color: lightgrey; 
  }
  
  .ArticleOverlay{
    position: relative; 
    height:300px; 
  }
  .ArticleMiniature{
  height: 300px;
  width: 500px;
  }
  
  .ArticleTitle{
  position: absolute;
  bottom: 0px;
  height: fit-content;
  font-size: 18px;
  font-weight: bolder;
  padding-top: 6%;
  padding-bottom: 6%;
  width: 100%;
  display:block;
  background-color: rgba(211, 211, 211, 0.5);
  margin: 0px;
  }
  
  .ArticleDate{
  position: absolute;
  top:0;
  right: 0;
  height: 8%;
  padding-top: 2%;
  width: 40%;
  display:block;
  background-color:  rgba(238, 187, 92, 0.733);
  margin: 0px;
  }
  
  .ArticleDescription{
  background-color: lightgrey; 
  margin: 0px; 
  padding-right: 5%;
  padding-left: 5%;
  }

  .mat-card{
    background-color:lightblue;
}



#ContactTitle{
    min-width: 300px;
text-align: center;  

}

label{

font-weight: bold;
}

mat-form-field{
    float:right;
}

.champ{
display: flex;
align-items: center; 
justify-content: space-between;   
}

mat-card-content{
    background-color: white; 
    width: 263px;
    margin-right: auto;
    margin-left: auto; 
    padding-top: 10px;
    padding-right: 15px;
padding-left: 15px; 
margin-right: auto;
margin-left: auto; 
border: solid 3px black; 
border-radius: 5px;
}

.Button{
display: flex;
justify-content: center;
}

button{
margin-bottom: 15px;
border: solid 2px black;
border-radius: 5px;
}

@media only screen and (min-width: 1000px) and (max-width: 1300px) {
    .OneGame{
        width: 300px;
      }
    }




    @media only screen and (min-width: 500px) and (max-width: 1000px) {
        #Games{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .Skilltype h4 {
            font-size : 20px;
            }
            #Skills p {
             font-size: 12px;   
            }
            #Skills li {
                font-size: 12px;   
               }
            #Skills .Morevisibletext{
                font-size: 16px;
            }
    
        }

        

        @media only screen and (max-width: 500px) {
            #Games{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            .OneGame{
                width: 300px;
              }

              .Skilltype h4 {
                font-size : 18px;
                }
                #Skills p {
                 font-size: 10px;   
                }
                #Skills li {
                    font-size: 10px;   
                   }
                #Skills .Morevisibletext{
                    font-size: 14px;
                }



            }