<div id="main">

  <section class="Intro">
    <ul class="menu">
      <li><a> Présentation</a> </li>
      <li><a> Compétences</a> </li>
      <li><a> Projets</a></li>
      <li><a> Articles</a></li>
      <li><a> Contact</a></li>
    </ul>
    <h1> Arnaud Scieur <br> Développeur Web <br> Écrivain Multimédia</h1>
    <div class="IntroText">
      <p class="Quotes">" Il était d'une espèce unique, <br> trop bizarre pour vivre,  <br> mais trop rare pour mourir."</p>
      <p class="Author"> Las Vegas Parano</p>
    </div>
  </section>


  <section class="Presentation">
    <div class="Profil"></div>






    <section class="Description">
      <h3 class="SectionTitle">Mon Parcours</h3>
      <p class="ContentText"> À la fin de mes études, ayant des doutes sur le chemin à suivre, je me suis retrouvé à
        m'intéresser de multiples domaines. Fort de ma <b>polyvalence et de ma curiosité</b>, je me suis,
        successivement interessé aux <b> mathématiques, à la psychologie et à l'éducation au média</b>. Néanmoins, mon
        attrait pour <b>le domaine du web</b> m'a finalement ammener à faire de la <b>la rédaction web</b> en tant que
        contributeur bénévole pour plusieurs sites web. C'est donc en toute logique que je me suis lancer dans <b>un
          bachelier en écriture multimédia</b> où j'ai pu laisser place à ma <b>créativité.</b>
        <p class="ContentText"> Cependant, de par mon caractère à la fois <b>logique at autodidacte</b>, je me suis
          fort intéressé au domaine de la <b>programmation</b>. Tout d'abord avec le <b>JavaScript</b> et ensuite, avec
          le <b>C# sur Unity</b>. J'ai ainsi réalisé plusieurs jeux dans le cadre de Game Jam et me suis ensuite
          rediriger vers <b>une formation de développeur web</b> afin d'améliorer mes compétences.
        </p>

    </section>

  </section>

  <section class="Skills">
    <div class="SkillIconeArea">
      <img class="SkillIcon" src="../../assets/Image/campaign.png" />
    </div>
    <div class="SkillIconeArea">
      <img class="SkillIcon" src="../../assets/Image/code.png" />
    </div>
    <div class="SkillIconeArea">
      <img class="SkillIcon" src="../../assets/Image/skills.png" />
    </div>

    <div class="Skilltype">
      <h4> Écrivain Multimédia </h4>
      <p> En tant que Bachelier en Écrivain Multimédia, j'ai appris à utiliser de nombreuses technologies relatives au
        web et aux digitals</p>
        <div class="line"></div>
    </div>

    <div class="Skilltype">
      <h4> Développeur Web et Unity </h4>
      <p> Que ce soit de manière autodidacte ou via ma formation de développeur web, j'ai appris à utiliser plusieurs
        langages.</p>
        <div class="line"></div>
    </div>

    <div class="Skilltype">
      <h4> Compétences transversales </h4>
      <p>Durant mon parcours, j'ai acquis de multiples compétences capable d'être réutilisé en milieu professionnel</p>
      <div class="line"></div>
    </div>

    <div class="SkillList">
      <p class="Morevisibletext"> Mes domaines </p>
      <ul>
        <li>Rédaction Web</li>
        <li>Community Management</li>
        <li>SEO </li>
        <li>Veille </li>
        <li>Storytelling</li>
        <li>Transmédia/Crossmédia</li>
        <li>Montage Vidéo/Audio</li>
        <li>User Experience</li>
        <li>Infographie</li>
        <li>Développement Web</li>
      </ul>
      <div class="line"></div>
    </div>

    <div class="SkillList">
      <p class="Morevisibletext">Mes langages</p>
      <ul>
        <li>HTML5/CSS3/SASS</li>
        <li>Javascript + ES6</li>
        <li>TypeScript</li>
        <li>Jquery</li>
        <li>Nodejs + Express</li>
        <li>MongoDB + Mongoose</li>
        <li>Angular</li>
        <li>Ember</li>
        <li>C# orienté Unity</li>
      </ul>
      <div class="line"></div>
    </div>

    <div class="SkillList">
      <p class="Morevisibletext">Mes compétences</p>
      <ul>
        <li>Indépendance</li>
        <li>Polyvalence</li>
        <li>Logique</li>
        <li>Créativité</li>
        <lI>Auto-didactisme</lI>
        <li>Ingéniosité</li>
        <li>Gestion du temps</li>
        <li>Adaptabilité</li>
        <li>Capacité de médiation</li>
      </ul>
      <div class="line"></div>
    </div>


    <div class="SkillOther">
      <p class="Morevisibletext">Mes logiciels </p>
      <p>Photoshop, Illustrator, Indesign, Premiere Pro, After Effect, Wordpress</p>
      <!-- ICON MAYBE ?-->
    </div>
    <div class="SkillOther">
      <p class="Morevisibletext">Ce que j'utilise </p>
      <p>Visual Studio, GitHub, BootStrap, NoSQLBooster, Gulp, Webpack </p>
      <!-- ICON MAYBE ?-->
    </div>

    <div class="SkillOther">
      <p class="Morevisibletext">Quelques connaissances </p>
      <p>Statistiques avancées, Psychologie </p>
      <!-- ICON MAYBE ?-->
    </div>

  </section>

  <section class="Description Superimposed">


  </section>


  <section class="Projects">

    <h3 class="SectionTitle">Quelques projets personnels</h3>
    <p class="ContentText"> Trois jeux réalisés dans le cadre des Ludum Dare Game Jam</p>

    <div class="Games">

      <div class="OneGame">
        <a href="https://0uicmoi.itch.io/light-shaft-ldjam41">
          <div class="GameOverlay">
            <img class="GameImage" src="https://img.itch.zone/aW1hZ2UvMjQ5ODQ1LzExOTczODUuanBn/original/eFyPxo.jpg" />
            <a class="GameTitle">Light Shaft</a>
          </div>
        </a>
        <p class="LD">LUDUM DARE 41</p>
      </div>

      <div class="OneGame">
        <a href="https://0uicmoi.itch.io/tales-of-a-hamster-a-clickable-journey">
          <div class="GameOverlay">
            <img class="GameImage" src="https://img.itch.zone/aW1hZ2UvMTY0MzU4LzExOTc1MzEuanBn/original/bqgiQj.jpg" />
            <a class="GameTitle">Tales of Hamster : A clickable Journey</a>
          </div>
        </a>
        <p class="LD">LUDUM DARE 39</p>
      </div>

      <div class="OneGame">
        <a href="https://0uicmoi.itch.io/small-world-of-mine">
          <div class="GameOverlay">
            <img class="GameImage" src="https://img.itch.zone/aW1hZ2UvMTM4MTc2LzExOTc2MDIuanBn/original/0pMQo3.jpg" />
            <a class="GameTitle">Small World of Mine</a>
          </div>
        </a>
        <p class="LD">LUDUM DARE 38</p>
      </div>

    </div>
  </section>

  <div class="line">
  </div>

  <section class="Articles">
    <div class="ArticleFlexContainer">


      <div class="ArticleCenter">
        <h3 class="SectionTitle">Quelques articles que j'ai écris</h3>
        <p class="ContentText"> Plusieurs de mes articles écrit pour différent site web</p>
        <div class="TwoArticles">
          <img class="ArticleArrow" (click)="onArrow('left')" src="../../assets/Image/nextleft.png" />
          <div class="ArticlePreview" *ngFor="let Article of Articles">
            <a href="{{Article.Article.url}}">
              <div class="ArticleOverlay">
                <img class="ArticleMiniature" src="{{Article.Article.miniature}}" />
                <p class="ArticleTitle">{{Article.Article.titre}}</p>
                <p class="ArticleDate">{{Article.Article.Date}} </p>
              </div>

              <p class="ArticleDescription"> {{Article.Article.description}}</p>
            </a>


          </div>
          <img class="ArticleArrow" (click)="onArrow('right')" src="../../assets/Image/nextright.png" />
        </div>
      </div>

    </div>
  </section>

  <div class="line"></div>

  <section class="ContactMe" href="/Contact">
    <h3 class="SectionTitle">Contactez-moi ! </h3>
    <mat-card>
        <mat-card-content>
          <section class="ContactTitle">
        Formulaire de Contact
          </section>
          <section>
            <form [formGroup]="userForm" (submit)="SendMail()">
              <section class="champ">
                  <label> Nom :</label>
                <mat-form-field>
                  <input matInput placeholder="name" formControlName="name">
                  <mat-error *ngIf="userForm.controls.name.invalid">{{getErrorMessage('name')}}</mat-error>
                </mat-form-field>
              </section>
              <section  class="champ">
                  <label> Email :</label>
                <mat-form-field>
                  <input matInput placeholder="email" formControlName="email">
                  <mat-error *ngIf="userForm.controls.email.invalid">{{getErrorMessage('email')}}</mat-error>
                </mat-form-field>
              </section>
              <section  class="champ">
                  <label> Objet :</label>
                <mat-form-field>
                  <input matInput placeholder="Object" formControlName="Object">
                  <mat-error *ngIf="userForm.controls.Object.invalid">{{getErrorMessage('Object')}}</mat-error>
                </mat-form-field>
              </section>
              <section  class="champ">
                  <label> Message :</label>
                <mat-form-field>
                  <textarea matInput placeholder="message" formControlName="message"></textarea>
                  <mat-error *ngIf="userForm.controls.message.invalid">{{getErrorMessage('message')}}</mat-error>
                </mat-form-field>
              </section>
              <section class="Button">
                  <button mat-raised-button color='primary' [disabled]="!userForm.valid">Envoyer</button>
                </section>
            </form>
          </section>
        </mat-card-content>
        </mat-card>

  </section>
</div>