<!DOCTYPE html>
<html lang="FR">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="Page d'Arnaud Scieur pour découvrir ses compétences, son parcours et ses projets réakisés" />
	<meta name="author" content="Arnaud Scieur" />
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width" />
	<title>Arnaud Scieur</title>
</head>

<body>
    <div id="Background">
  <div id="Content">
  <router-outlet></router-outlet>
</div>
  <app-footer></app-footer>
  </div>
</body>
</html>

